*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
header img{
    width: 300px;

}
header{
    background-color: #131A22;
    text-align: center;
    padding: 30px;
}
.offer{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    font-style: italic;
    text-shadow: 0px 8px 4px gray ;
}
.grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
    padding: 50px;
    box-shadow: 0px 0px 20px gray;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.card{
    box-shadow: 0px 0px 20px gray;
    padding: 10px;
    border-radius:15px ;
    text-align: center;

}
.card img{
    width: 100%;
    height: 300px;
}
.price{
    display: flex;
    flex-direction: row;
    gap:20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.card a{
    background-color: #f8bd19;
    color: black;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    width: 80%;
    border-radius: 10px;
}
.card a:hover{
    transform: scale(1.1);
    transition: all 0.4s ease;
}
.card:hover{
    transform: scale(1.03);
    transition: all 0.4s ease;
}
footer{
    background-color: #131A22;
    color: white;
    text-align: center;
    padding: 30px;
    margin-bottom: 10px;
    
}
.amazon{
    color: orange;
    font-weight: bold;
}
.name{
    font-style: italic;
    font-weight: bold;
}
del{
    color: gray;
}
marquee{
    color: white;
    background-color: black;
}
@media(max-width:480px)
    {
    header img{
        width: 200px;
    }
    .grid{
        padding: 15px;
    }
    }
    .star{
        color: orange;
        margin-right: 150px;
        margin-top: 5px;
        margin-bottom: 5px;
    }